In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

### Question 1

In [ ]:
housing_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Machine Learning/USA_Housing.csv")

In [ ]:
housing_df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05

In [ ]:
housing_df.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562390,5.322283,6.299250,3.140000,29403.928700,9.975771e+05
50%,68804.286405,5.970429,7.002902,4.050000,36199.406690,1.232669e+06
75%,75783.338665,6.650808,7.665871,4.490000,42861.290770,1.471210e+06
max,107701.748400,9.519088,10.759588,6.500000,69621.713380,2.469066e+06

In [ ]:
housing_df.shape

(5000, 6)

In [ ]:
X = housing_df.iloc[:,0:5]
Y = housing_df['Price']

In [ ]:
from sklearn.preprocessing import StandardScaler
mm = StandardScaler()

X_scaled = mm.fit_transform(X)

In [ ]:
X_scaled = np.insert(X_scaled, 0, values=1, axis=1)

In [ ]:
Y = np.asarray(Y).reshape(-1,1)

In [ ]:

x_train, x_test, y_train, y_test = train_test_split(X_scaled, Y, test_size=0.3, random_state=42)

In [ ]:
print("x_train.shape = ", x_train.shape)
print("x_test.shape = ", x_test.shape)
print("y_train.shape = ", y_train.shape)
print("y_test.shape = ", y_test.shape)

x_train.shape =  (3500, 6)
x_test.shape =  (1500, 6)
y_train.shape =  (3500, 1)
y_test.shape =  (1500, 1)

In [ ]:
A = x_train.T.dot(x_train)
B = np.linalg.inv(A)
C = B.dot(x_train.T)
beta = C.dot(y_train)
beta

array([[1231278.63687691],
       [ 230464.52520478],
       [ 164159.19982569],
       [ 120514.71328324],
       [   2913.62424674],
       [ 151019.35865134]])

In [ ]:
y_pred = x_test.dot(beta)

In [ ]:
y_pred[0:5]

array([[1308536.13611172],
       [1237122.72747115],
       [1243835.6280953 ],
       [1229241.70272866],
       [1059352.51842147]])

In [ ]:
error = y_test - y_pred

In [ ]:
sq_err = np.power(error, 2)
sq_err

array([[9.33909987e+08],
       [2.15251490e+08],
       [9.26586013e+09],
       ...,
       [2.48612606e+08],
       [5.42680243e+09],
       [1.43673698e+09]])

In [ ]:
sum_sq_err = np.sum(sq_err)
sum_sq_err

15102633824243.559

In [ ]:
mse = sum_sq_err/len(y_pred)
mse

10068422549.495707

In [ ]:
rmse = np.sqrt(mse)
rmse

100341.52953536091

In [ ]:
y_mean = np.mean(y_test)
total_variance = np.sum((y_test-y_mean)**2)
print(1-sum_sq_err/total_variance)

0.9146818498916266

### Question 2

In [ ]:
housing_df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05

In [ ]:
X = housing_df.iloc[:,0:5]
Y = housing_df['Price']

In [ ]:
from sklearn.preprocessing import StandardScaler
mm = StandardScaler()

X_scaled = mm.fit_transform(X)

In [ ]:
# X_scaled = np.insert(X_scaled, 0, values=1, axis=1)

In [ ]:
Y = np.asarray(Y).reshape(-1,1)

In [ ]:
train_ratio = 0.56
validation_ratio = 0.14
test_ratio = 0.30

# train is now 56% of the entire data set
# the _junk suffix means that we drop that variable completely
x_train, x_test, y_train, y_test = train_test_split(X_scaled, Y, test_size=1-train_ratio)

# test is now 30% of the initial data set
# validation is now 14% of the initial data set
x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=test_ratio/(test_ratio + validation_ratio))

In [ ]:
print("x_train.shape = ", x_train.shape)
print("x_val.shape = ", x_val.shape)
print("x_test.shape = ", x_test.shape)

print("y_train.shape = ", y_train.shape)
print("y_val.shape = ", y_val.shape)
print("y_test.shape = ", y_test.shape)

x_train.shape =  (2800, 5)
x_val.shape =  (700, 5)
x_test.shape =  (1500, 5)
y_train.shape =  (2800, 1)
y_val.shape =  (700, 1)
y_test.shape =  (1500, 1)

In [ ]:
learning_rate = [0.001, 0.01, 0.1, 1]

In [ ]:
print(x_train[1])

[-0.92659857 -0.90114961 -0.72083368  0.07185495 -2.03468885]

In [ ]:
from sklearn.base import BaseEstimator
beta = np.zeros(6)
num_iter = 1000
n = len(x_train)
max_beta = None
max_r2_score = -100000
x_val = np.insert(x_val, 0, values=1, axis=1)

for i in learning_rate:
    for j in range(num_iter):

        x0_grad = 0
        x1_grad = 0
        x2_grad = 0
        x3_grad = 0
        x4_grad = 0
        x5_grad = 0

        for k in range(len(x_train)):

            a = x_train[k,0]
            b = x_train[k,1]
            c = x_train[k,2]
            d = x_train[k,3]
            e = x_train[k,4]
            f = y_train[k,]
            # print(f)
            
            x0_grad += (beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f)
            x1_grad += ((beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f) * a)
            x2_grad += ((beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f) * b)
            x3_grad += ((beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f) * c) 
            x4_grad += ((beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f) * d)
            x5_grad += ((beta[0] + (beta[1]*a) + (beta[2]*b) + (beta[3]*c) + (beta[4]*d) + (beta[5]*e) - f) * e)

        beta[0] = beta[0] - i / n * x0_grad
        beta[1] = beta[1] - i / n * x1_grad
        beta[2] = beta[2] - i / n * x2_grad
        beta[3] = beta[3] - i / n * x3_grad
        beta[4] = beta[4] - i / n * x4_grad
        beta[5] = beta[5] - i / n * x5_grad
        
        beta = np.array(beta).reshape(-1,1)
        y_pred = x_val.dot(beta)

        error = y_val - y_pred
        sq_err = np.power(error, 2)

        sum_sq_err = np.sum(sq_err)
        mse = sum_sq_err/len(y_pred)
        rmse = np.sqrt(mse)

        y_mean = np.mean(y_val)
        total_variance = np.sum((y_val-y_mean)**2)

        r2_score = (1-sum_sq_err/total_variance)
        # print(r2_score)

        if r2_score > max_r2_score:
            best_learning_rate = i
            max_beta = beta
            max_r2_score = r2_score

In [ ]:
print(max_beta)
print(best_learning_rate)

[[1.23347818e+06]
 [2.30239000e+05]
 [1.63636485e+05]
 [1.21171549e+05]
 [6.68148063e+02]
 [1.51999611e+05]]
0.1

In [ ]:
x_test = np.insert(x_test, 0, values=1, axis=1)
y_pred = x_test.dot(max_beta)
error = y_test - y_pred
sq_err = np.power(error, 2)

sum_sq_err = np.sum(sq_err)
mse = sum_sq_err/len(y_pred)
rmse = np.sqrt(mse)

y_mean = np.mean(y_test)
total_variance = np.sum((y_test-y_mean)**2)

r2_score = (1-sum_sq_err/total_variance)

In [ ]:
print(r2_score)

0.9129081067996829

### Question 3

In [38]:
header_names = ["symboling", "normalized_losses",
"make", "fuel_type", "aspiration","num_doors", "body_style", "drive_wheels",
"engine_location", "wheel_base", "length", "width", "height", "curb_weight",
"engine_type", "num_cylinders", "engine_size", "fuel_system", "bore", "stroke",
"compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"]

In [39]:
# read text file into pandas DataFrame
cars_df = pd.read_csv("/content/imports-85.txt", header=None, names=header_names)
cars_df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450

In [40]:
cars_df.isna().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            1
body_style           1
drive_wheels         1
engine_location      1
wheel_base           1
length               1
width                1
height               1
curb_weight          1
engine_type          1
num_cylinders        1
engine_size          1
fuel_system          1
bore                 1
stroke               1
compression_ratio    1
horsepower           1
peak_rpm             1
city_mpg             1
highway_mpg          1
price                1
dtype: int64

In [41]:
cars_df = cars_df.replace('?', -10)

In [42]:
cars_df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,-10,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495
1,3,-10,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500
2,1,-10,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,3,-10,plymouth,gas,turbo,two,hatchback,rwd,front,95.9,...,156.0,spdi,3.59,3.86,7.0,145.0,5000.0,19.0,24.0,12764
125,3,186,porsche,gas,std,two,hatchback,rwd,front,94.5,...,151.0,mpfi,3.94,3.11,9.5,143.0,5500.0,19.0,27.0,22018
126,3,-10,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194.0,mpfi,3.74,2.90,9.5,207.0,5900.0,17.0,25.0,32528
127,3,-10,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194.0,mpfi,3.74,2.90,9.5,207.0,5900.0,17.0,25.0,34028
128,3,-10,porsche,gas,s,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
cars_df.drop(cars_df[cars_df["aspiration"]=='s'].index, inplace=True)

In [44]:
cars_df.dtypes

symboling              int64
normalized_losses     object
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight          float64
engine_type           object
num_cylinders         object
engine_size          float64
fuel_system           object
bore                  object
stroke                object
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg             float64
highway_mpg          float64
price                 object
dtype: object

In [45]:
cars_df.normalized_losses = cars_df.normalized_losses.astype("int64")
cars_df.bore = cars_df.bore.astype("float64")
cars_df.stroke = cars_df.stroke.astype("float64")
cars_df.price = cars_df.price.astype("float64")

In [46]:
cars_df = cars_df.replace(-10, np.nan)

In [47]:
cars_df.isna().sum()

symboling             0
normalized_losses    32
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            0
peak_rpm              0
city_mpg              0
highway_mpg           0
price                 3
dtype: int64

In [48]:
# cars_df.drop(cars_df[cars_df["price"]==np.nan], axis=0, inplace=True)
cars_df.dropna(subset=["price"], inplace=True)

In [49]:
cars_df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0

In [50]:
cars_df["normalized_losses"].fillna(cars_df["normalized_losses"].mean(), inplace=True)
cars_df["bore"].fillna(cars_df["bore"].mean(), inplace=True)
cars_df["stroke"].fillna(cars_df["stroke"].mean(), inplace=True)
cars_df = cars_df.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [51]:
cars_df.isna().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [52]:
print(cars_df["num_doors"].value_counts())
print(cars_df["num_cylinders"].value_counts())

four    65
two     60
Name: num_doors, dtype: int64
four      89
six       17
five       9
two        4
eight      4
three      1
twelve     1
Name: num_cylinders, dtype: int64

In [53]:
let_num = {"two":2, "three":3, "four":4, "five":5, "six":6, "eight":8, "twelve":12}
let_num

{'two': 2,
 'three': 3,
 'four': 4,
 'five': 5,
 'six': 6,
 'eight': 8,
 'twelve': 12}

In [54]:
cars_df["num_doors"].replace(["four", "two"], [4, 2], inplace=True)
cars_df["num_cylinders"].replace(["four", "six", "five", "two", "eight", "three", "twelve"], [4, 6, 5, 2, 8, 3, 12], inplace=True)

In [55]:
cars_df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,132.75,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0
1,3,132.75,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
2,1,132.75,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
3,2,164.00,audi,gas,std,4,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
4,2,164.00,audi,gas,std,4,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0

In [56]:
print(cars_df["body_style"].unique())
print(cars_df["drive_wheels"].unique())

['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
['rwd' 'fwd' '4wd']

In [57]:
cars_df = pd.get_dummies(cars_df, prefix=["body", "drive"], columns=["body_style", "drive_wheels"], drop_first=True)
cars_df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,peak_rpm,city_mpg,highway_mpg,price,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_fwd,drive_rwd
0,3,132.75,alfa-romero,gas,std,2,front,88.6,168.8,64.1,...,5000.0,21.0,27.0,13495.0,0,0,0,0,0,1
1,3,132.75,alfa-romero,gas,std,2,front,88.6,168.8,64.1,...,5000.0,21.0,27.0,16500.0,0,0,0,0,0,1
2,1,132.75,alfa-romero,gas,std,2,front,94.5,171.2,65.5,...,5000.0,19.0,26.0,16500.0,0,1,0,0,0,1
3,2,164.00,audi,gas,std,4,front,99.8,176.6,66.2,...,5500.0,24.0,30.0,13950.0,0,0,1,0,1,0
4,2,164.00,audi,gas,std,4,front,99.4,176.6,66.4,...,5500.0,18.0,22.0,17450.0,0,0,1,0,0,0

In [58]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# â€œmakeâ€, â€œaspirationâ€, â€œengine_locationâ€,fuel_type:
cars_df["make"] = le.fit_transform(cars_df["make"])
cars_df["aspiration"] = le.fit_transform(cars_df["aspiration"])
cars_df["engine_location"] = le.fit_transform(cars_df["engine_location"])
cars_df["fuel_type"] = le.fit_transform(cars_df["fuel_type"])
print(cars_df.shape)
cars_df.head()

(125, 30)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,peak_rpm,city_mpg,highway_mpg,price,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_fwd,drive_rwd
0,3,132.75,0,1,0,2,0,88.6,168.8,64.1,...,5000.0,21.0,27.0,13495.0,0,0,0,0,0,1
1,3,132.75,0,1,0,2,0,88.6,168.8,64.1,...,5000.0,21.0,27.0,16500.0,0,0,0,0,0,1
2,1,132.75,0,1,0,2,0,94.5,171.2,65.5,...,5000.0,19.0,26.0,16500.0,0,1,0,0,0,1
3,2,164.00,1,1,0,4,0,99.8,176.6,66.2,...,5500.0,24.0,30.0,13950.0,0,0,1,0,1,0
4,2,164.00,1,1,0,4,0,99.4,176.6,66.4,...,5500.0,18.0,22.0,17450.0,0,0,1,0,0,0

In [59]:
cars_df["fuel_system"].value_counts()

mpfi    45
2bbl    43
idi     12
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel_system, dtype: int64

In [60]:
import re

x = cars_df["fuel_system"].unique()
for el in x:
    if re.search("pfi", el)!=None:
        cars_df["fuel_system"].replace(el, 1, inplace=True)
    else:
        cars_df["fuel_system"].replace(el, 0, inplace=True)

y = cars_df["engine_type"].unique()
for el in y:
    if re.search("ohc", el)!=None:
        cars_df["engine_type"].replace(el, 1, inplace=True)
    else:
        cars_df["engine_type"].replace(el, 0, inplace=True)

cars_df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,peak_rpm,city_mpg,highway_mpg,price,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_fwd,drive_rwd
0,3,132.75,0,1,0,2,0,88.6,168.8,64.1,...,5000.0,21.0,27.0,13495.0,0,0,0,0,0,1
1,3,132.75,0,1,0,2,0,88.6,168.8,64.1,...,5000.0,21.0,27.0,16500.0,0,0,0,0,0,1
2,1,132.75,0,1,0,2,0,94.5,171.2,65.5,...,5000.0,19.0,26.0,16500.0,0,1,0,0,0,1
3,2,164.00,1,1,0,4,0,99.8,176.6,66.2,...,5500.0,24.0,30.0,13950.0,0,0,1,0,1,0
4,2,164.00,1,1,0,4,0,99.4,176.6,66.4,...,5500.0,18.0,22.0,17450.0,0,0,1,0,0,0

In [61]:
cars_df.dtypes

symboling              int64
normalized_losses    float64
make                   int64
fuel_type              int64
aspiration             int64
num_doors              int64
engine_location        int64
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight          float64
engine_type            int64
num_cylinders          int64
engine_size          float64
fuel_system            int64
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg             float64
highway_mpg          float64
price                float64
body_hardtop           uint8
body_hatchback         uint8
body_sedan             uint8
body_wagon             uint8
drive_fwd              uint8
drive_rwd              uint8
dtype: object

In [62]:
X = cars_df.loc[:, cars_df.columns!="price"]
Y = cars_df.loc[:, cars_df.columns=="price"]

In [63]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_scaled = scaler.fit_transform(X)

In [64]:
x_scaled = np.insert(x_scaled, 0, values=1, axis=1)

In [65]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, Y, test_size=0.3, random_state=42)

In [66]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression().fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [68]:
error = y_test - y_pred
sq_err = np.power(error, 2)

sum_sq_err = np.sum(sq_err)
mse = sum_sq_err/len(y_pred)
rmse = np.sqrt(mse)

y_mean = np.mean(y_test)
total_variance = np.sum((y_test-y_mean)**2)

r2_score = (1-sum_sq_err/total_variance)
print(r2_score)

# from sklearn.metrics import r2_score,accuracy_score
# print('Mean Square Error: %.2f' % np.mean((y_test - y_pred) ** 2))
# print('Root Mean Square Error: %.2f' % np.sqrt(np.mean((y_test - y_pred) ** 2)))
# print('Mean Absolute Error: %.2f' % np.mean(np.abs(y_test - y_pred)))
# print('R2 score: %.2f' % r2_score(y_test, y_pred))

price    0.57442
dtype: float64

In [69]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)

x_scaled = pca.fit_transform(x_scaled)

In [70]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, Y, test_size=0.3, random_state=42)

from sklearn.linear_model import LinearRegression
lr = LinearRegression().fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [71]:
error = y_test - y_pred
sq_err = np.power(error, 2)

sum_sq_err = np.sum(sq_err)
mse = sum_sq_err/len(y_pred)
rmse = np.sqrt(mse)

y_mean = np.mean(y_test)
total_variance = np.sum((y_test-y_mean)**2)

r2_score = (1-sum_sq_err/total_variance)
print(r2_score)

price    0.805131
dtype: float64